.modal {
    width: 100vw;
    height: 100vh;
    top: 30%;
    left: 0;
    transform: translateY(-30%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal_content {
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 596px;
}
